@keyframes spinAH{
    0%   { transform: rotate(3000deg); }
    50%  { transform: rotate(-3000deg); }
    100% { transform: rotate(3000deg); }
}

@keyframes spinHH{
    0%   { transform: rotate(-3000deg); }
    50%  { transform: rotate(3000deg); }
    100% { transform: rotate(-3000deg); }
}

.rotateHH{
    animation-name: spinHH;
}

.rotateAH{
    animation-name: spinAH;
}